<!doctype html>
<html class="no-js" lang="en">

    <head>
		<style>
			/* Basic styling for the textarea */
			textarea {
				background-color: #26294D;
				width: 100%;
				height: 300px; /* Adjust the height as needed */
				padding: 10px;
				font-size: 16px;
				border: 1px solid #ccc;
				border-radius: 4px;
				resize: vertical; /* Allow vertical resizing */
			}
		</style>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>CarVilla</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

		
            <%- include('partials/menu') %>																


			<div class="container">
				<div class="welcome-hero-txt">
					<h2>get your desired car in resonable price</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua. 
					</p>
				
				</div>
			</div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="newcar" method="post" enctype="multipart/form-data"  >
                            <div class="model-search-content">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-2 col-sm-12">
                                        <div class="single-model-search">
                                            <h2>Select Price</h2>
                                            <input type="number" name="price" class="form-control" min="0" required>
                                        </div>
                                        <div class="single-model-search">
                                            <h2>Select Year</h2>
                                            <div class="model-select-icon">
                                                <select name="year" class="form-control" required>
                                                    <% for (var year = 1886; year <= new Date().getFullYear(); year++) { %>
                                                        <option value="<%= year %>"><%= year %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-2 col-sm-12">
                                        <div class="single-model-search">
                                            <h2>mileage</h2>
                                            <input type="number" name="mileage" class="form-control" min="0" required>
                                        </div>
                                        <div class="single-model-search">
                                            <h2>Select Model</h2>
                                            <div class="model-select-icon">
                                                <select name="model" class="form-control" required>
                                                    <option value="Corolla">Corolla</option>
                                                    <option value="Civic">Civic</option>
                                                    <option value="Mustang">Mustang</option>
                                                    <option value="Model S">Model S</option>
                                                    <option value="Accord">Accord</option>
                                                    <option value="Camry">Camry</option>
                                                    <option value="F-150">F-150</option>
                                                    <option value="3 Series">3 Series</option>
                                                    <option value="A4">A4</option>
                                                    <option value="Altima">Altima</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-2 col-sm-12">

                                        <div class="single-model-search">
                                            <h2>Images</h2>
                                            <input type="file" name="images" class="form-control" multiple>
                                        </div>
                                        <div class="single-model-search">
                                            <h2>Select Make</h2>
                                            <div class="model-select-icon">
                                                <select name="make" class="form-control" required>
                                                    <option value="Toyota">Toyota</option>
                                                    <option value="Honda">Honda</option>
                                                    <option value="Ford">Ford</option>
                                                    <option value="BMW">BMW</option>
                                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                                    <option value="Audi">Audi</option>
                                                    <option value="Tesla">Tesla</option>
                                                    <option value="Chevrolet">Chevrolet</option>
                                                    <option value="Nissan">Nissan</option>
                                                    <option value="Volkswagen">Volkswagen</option>
                                                </select>
                                            </div>
                                        </div>
                             
                                       
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                       
                                        <div class="single-model-search">
                                            <h2>Description</h2>
                                            <textarea name="description" class="form-control"></textarea>
                                        </div>
                                    

                                        <div class="single-model-search text-center">
                                            <button type="submit" class="welcome-btn model-search-btn">
                                                Create
                                            </button>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>  
		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->
	
	  
		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>