<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      background: url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed;
      background-size: cover;
    }
    
    .log-form {
      width: 40%;
      min-width: 320px;
      max-width: 475px;
      background: #F8F8F8;  
      border-radius: 10px;
      padding: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
    }
    
    h2 {
      color: #000000; /* Dark grey text color */
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5em;
      text-transform: uppercase;
      padding: .75em 1em;
      border-radius: 8px 8px 0 0; /* Rounded top corners */
      margin: 0;
      text-align: center;
    }
    
    form {
      margin-top: 1em;
    }
    
    input {
      width: 100%;
      padding: .8em;
      margin-bottom: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
    }
    
    .btn {
      background-color: #4E4FFA; /* Light blue button background */
      color: #fff;
      border: none;
      padding: .8em 1.5em;
      cursor: pointer;
      border-radius: 4px;
      font-size: 1em;
      width: 100%; /* Full width button */
      display: block; /* Make it a block element to occupy full width */
      margin-bottom: 1em; /* Add spacing */
    }
    
    .btn:hover {
      background-color: #413D6A; /* Darker blue on hover */
    }
    
    .forgot {
      color: #1fb5bf; /* Light blue for the forgot link */
      float: right;
      font-size: 0.85em;
      text-decoration: none;
    }
    
    .forgot:hover {
      color: #158d97; /* Darker blue on hover */
    }
    
    .signup-link {
      text-align: center; /* Center align the signup link */
      margin-top: 1em; /* Add spacing above the link */
    }
    
    .signup-link a {
      color: #1fb5bf; /* Light blue color */
      text-decoration: none;
    }
    
    .signup-link a:hover {
      color: #158d97; /* Darker blue on hover */
    }

  </style>

</head>

	<body>
        
        
        <div class="log-form"  >
            <h2>create an account</h2>
            <form action="signup" method="post">
            
              <input type="text" name="email" id="email" placeholder="email" required/>
              <input type="password" name="password"id="password" placeholder="password" required/>
              <input type="password" name="passwordx2"id="passwordx2" placeholder="password" required/>
              <button type="submit" class="btn" >Sign up</button>
            
            </form>

            <div class="signup-link">
              <a href="/user/login">have an account ? login</a>
          </div>
          </div><!--end log form -->

        
    </body>
	
</html>